html {
  font-family: Lora, serif;
}

h1 {
  color: #fff;
}

.masthead {
  border-top: solid 3px #467366;
  border-bottom: solid 3px #467366;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px;
  background-color: #588477;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border: solid 3px #145b1d;
  border-radius: 8px;
  background-color: #467366;
  color: #fff;
}

.nav a:hover {
  background-image: url("../image/leaf-icon.svg");
}

.banner {
  background: linear-gradient(to top, rgba(16, 52, 41, .8), transparent) no-repeat center bottom,
  url("../images/banner.jpg") no-repeat center top / cover;
}

.banner-content {
  background-image: url("../images/two-leaves.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 5em;
  padding-top: 20em;
  max-width: 1050px;
  color: #fff;
}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
